* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color:rgb(255, 235, 249);
}

body {
    padding:0;
    margin:0;
    background: linear-gradient(10deg, rgb(156, 187, 255),  rgb(255, 186, 198));
}

.output {
    /* flex-start / flex-end */
    grid-column: 1 / -1;
    display:flex;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: flex-end;
    vertical-align: middle;
    padding:15px;
    text-align: right;
    overflow-x: hidden;
    background: linear-gradient(120deg, rgb(248, 148, 148),rgba(91, 163, 231, 0.5));
}
.output > .pre-resultado {
    font-size: 1.25rem;
    color:rgba(255, 255, 255, 0.5);

}
.resultado {
    text-shadow: none;
    margin:auto 0;
    transition:text-shadow 1s;
}
.resultado:hover {
    text-shadow: 1px 1px 8px rgb(255, 255, 255, .6);
}
.calculator {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    /*minmax -> valores minimo y maximo*/
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    color:palevioletred;
    border:none;
    background-color: rgba(255, 255, 255, 0.4);
    transition: color, 1.2s;
}
.calculator > button:hover {
    background-color: rgba(245, 245, 245, .8);
    color:rgb(142, 167, 236);
}

/* @keyframes change-color {
    from { background:red; }
    to { background: green }
} */

.big-b {
    grid-row: span 2;
    /* animation: change-color 2s ease 1s infinite; */
}
.big-a {
    grid-column: span 2;
}